.wrapper {
    position: relative;
}

.content {
    margin-top: var(--header-height);
}

@media screen and (max-width: 992px) {
    .content {
        margin-top: var(--header-height-small);

        &.active-show-list {
            margin-top: calc(var(--height-menu-bar) + var(--header-height-small));
        }
    }
}
